@model string

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Thông Báo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>@Model</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="confirm" class="btn btn-primary" onmouseover="SetSubmit()">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var button = document.querySelector("button[id=confirm]")
    function SetSubmit() {
        button.setAttribute("type", "submit")
    }
</script>