@page
@model Presentation.Pages.product.DeleteModel

<input type="hidden" id="IpWarning" value="@Model.Imports.Where(i => !i.Alive).Count()" />

<div class="text-center">
    <partial name="_Danger" model="@Model.Message"/>
    <h5>Bạn có chắc chắn muốn xóa sản phẩm này?</h5>
    <div class="d-flex justify-content-center">
        <a href="/view?i=pr" class="btn btn-primary m-2">Hủy</a>
        <form method="post">
            <button class="btn btn-danger m-2">Xóa</button>
        </form>
    </div>
</div>
