@using Entity;
@model List<Category>

<table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">Số thứ tự</th>
            <th scope="col">Phân Loại</th>
            <th scope="col">Số lượng sản phẩm</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Order = 1;
            foreach (Category c in Model)
            {
                <tr class="text-center">
                    <th scope="row">@Order</th>
                    <td><i>@c.Name</i></td>
                    <td><i>@c.Quantity</i></td>
                    <td>
                        <a href="/category/edit?id=@c.GetIdentifier()" class="btn btn-primary">Sửa</a>
                        <a href="/category/delete?id=@c.GetIdentifier()" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
                Order++;
            }
        }
    </tbody>
</table>