@using Entity;
@model List<Invoice>

<table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">Mã</th>
            <th scope="col">Ngày thêm hóa đơn</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Giá trị đơn</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            for(int i = 0; i < Model.Count; i++)
            {
                <tr class="text-center">
                    <th scope="row">@Model[i].Id</th>
                    <td><i>@Model[i].Date</i></td>
                    <td><i>@Model[i].CustomerName</i></td>
                    <td>@Model[i].Total ₫</td>
                    <td>
                        <a href="/invoice/abort?id=@i" class="btn btn-outline-dark">Hủy Đơn</a>
                        <a href="/invoice/detail?id=@i" class="btn btn-outline-dark">Chi tiết</a>
                        <a href="/invoice/edit?id=@i" class="btn btn-primary">Sửa</a>
                        <a href="/invoice/delete?id=@i" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>