@page
@model Presentation.Pages.category.AddModel

<h5 class="text-center">Thêm loại hàng mới</h5>
<div class="col text-center">
    <div class="row">
        <div class="d-flex justify-content-center">
            <form class="w-50 form-floating" method="post">
                <input type="text" name="name" class="form-control @Model.Status" placeholder="..." maxlength="30">
                <span class="invalid-feedback">@Model.FeedBack</span>
                <label for="floatingInputValue">Tên phân loại</label>
                <a href="/view?i=ct" class="btn btn-secondary m-2">Hủy</a>
                <button type="submit" class="btn btn-primary m-2">Thêm</button>
            </form>
        </div>
    </div>
</div>