@page
@model Presentation.Pages.invoice.DeleteModel

<div class="text-center">
    <partial name="_Warning" model="@Model.Message" />
    <h5>Bạn có chắc chắn muốn xóa hóa đơn này?</h5>
    <div class="d-flex justify-content-center">
        <a href="/view?i=iv" class="btn btn-primary m-2">Hủy</a>
        <form method="post">
            <button class="btn btn-danger m-2">Xóa</button>
        </form>
    </div>
</div>

